<include file="Index:header" />
<body>
<div class="fly-panel fly-panel-user">
<div class="tpt—admin">

<div class="layui-inline">
<a href="{:U('topic/add')}"><button class="layui-btn"><i class="layui-icon">&#xe608;</i> 添加主题</button></a>
</div>
<div style="float: right;" class="layui-form-item">
<form class="layui-form" action="" method="get">
<div class="layui-inline">
      <label class="layui-form-label">关键字</label>
      <div class="layui-input-inline">
        <input placeholder="输入关键字" name="keyword" value="{$Think.get.keyword}" type="text" class="layui-input" style="float: left;margin-right: 10px;width: 180px;">
      </div>
      <div class="layui-form-label">月份</div>
       <div class="layui-input-inline" style="width: 100px;">
        <select name="month" lay-verify="required" lay-search="">
          <option value="">全部</option>
          <option value="1" <if condition="$Think.get.month eq 1">selected</if>>1月</option>
          <option value="2" <if condition="$Think.get.month eq 2">selected</if>>2月</option>
          <option value="3" <if condition="$Think.get.month eq 3">selected</if>>3月</option>
          <option value="4" <if condition="$Think.get.month eq 4">selected</if>>4月</option>
          <option value="5" <if condition="$Think.get.month eq 5">selected</if>>5月</option>
          <option value="6" <if condition="$Think.get.month eq 6">selected</if>>6月</option>
          <option value="7" <if condition="$Think.get.month eq 7">selected</if>>7月</option>
          <option value="8" <if condition="$Think.get.month eq 8">selected</if>>8月</option>
          <option value="9" <if condition="$Think.get.month eq 9">selected</if>>9月</option>
          <option value="10" <if condition="$Think.get.month eq 10">selected</if>>10月</option>
          <option value="11" <if condition="$Think.get.month eq 11">selected</if>>11月</option>
          <option value="12" <if condition="$Think.get.month eq 12">selected</if>>12月</option>
        </select>
      </div>
	  <button class="layui-btn" style="float: left;" value="查询" type="submit">查询</button>
    </div>
</form>
</div>

<form class="layui-form">
<table width="100%">
<tr>
<th width="5%" align="center"><input type="checkbox" name="checkAll" lay-filter="checkAll"></th>
<th width="5%" align="center">ID</th>
<th align="center">月份</th>
<th align="center">主题</th>
<th align="center">描述</th>
<th align="center">时间</th>
<th align="center">基本操作</th>
</tr>
<volist name="list" id="vo">
<tr>
<td align="center"><input type="checkbox" name="ids[{$vo.id}]" lay-filter="checkOne" value="{$vo.id}"></td>
<td align="center">{$vo.id}</td>
<td align="center">{$vo.month}</td>
<td style="padding-left: 20px;" >{$vo.title}</td>
<td style="padding-left: 20px;">{$vo.content|strip_tags|msubstr=0,20}</td>
<td align="center">{$vo.addtime|date="Y-m-d",###}</td>
<td align="center">
<a class="layui-btn layui-btn-mini layui-btn-warm" href="{:U('topic/add',array('id'=>$vo['id'],'act'=>'edit'))}">修改</a> <a class="layui-btn layui-btn-mini layui-btn-danger del_btn" member-id="{$vo.id}" title="删除" nickname="{$vo.title}">删除</a>
</td>
</tr>
</volist>
</table>
<div class="layui-form-item">
<div style="margin-top: 20px;float: left;">
</div>
<div class="pages" style="float: right;">{$page}</div>
</div>
</form>

<script>
layui.use('form',function(){
  var form = layui.form()
  ,jq = layui.jquery;

  jq('.del_btn').click(function(){
    var name = jq(this).attr('nickname');
    var id = jq(this).attr('member-id');
    layer.confirm('确定删除【'+name+'】?', function(index){
      loading = layer.load(2, {
        shade: [0.2,'#000']
      });
      jq.post('{:U("topic/dels")}',{'id':id},function(data){
        if(data.code == 200){
          layer.close(loading);
          layer.msg(data.msg, {icon: 1, time: 1000}, function(){
            location.reload();
          });
        }else{
          layer.close(loading);
          layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
        }
      });
    });
  });

  form.on('checkbox(checkAll)', function(data){
    if(data.elem.checked){
      jq("input[type='checkbox']").prop('checked',true);
    }else{
      jq("input[type='checkbox']").prop('checked',false);
    }
    form.render('checkbox');
  });  

  form.on('checkbox(checkOne)', function(data){
    var is_check = true;
    if(data.elem.checked){
      jq("input[lay-filter='checkOne']").each(function(){
        if(!jq(this).prop('checked')){ is_check = false; }
      });
      if(is_check){
        jq("input[lay-filter='checkAll']").prop('checked',true);
      }
    }else{
      jq("input[lay-filter='checkAll']").prop('checked',false);
    } 
    form.render('checkbox');
  });

  form.on('submit(delete)', function(data){
    var is_check = false;
    jq("input[lay-filter='checkOne']").each(function(){
      if(jq(this).prop('checked')){ is_check = true; }
    });
    if(!is_check){
      layer.msg('请选择数据', {icon: 2,anim: 6,time: 1000});
      return false;
    }
    layer.confirm('确定批量删除?', function(index){
      loading = layer.load(2, {
        shade: [0.2,'#000']
      });
      var param = data.field;
      jq.post('{:U("topic/delss")}',param,function(data){
        if(data.code == 200){
          layer.close(loading);
          layer.msg(data.msg, {icon: 1, time: 1000}, function(){
            location.reload();
          });
        }else{
          layer.close(loading);
          layer.msg(data.msg, {icon: 2,anim: 6, time: 1000});
        }
      });
    });
    return false;
  });
  
  form.on('submit(sort)', function(data){
  
    layer.confirm('确定调整排序吗?', function(index){
      loading = layer.load(2, {
        shade: [0.2,'#000']
      });
	  console.log(data);
      var param = data.field;
      jq.post('{:U("topic/sorts")}',param,function(data){
        if(data.code == 200){
          layer.close(loading);
          layer.msg(data.msg, {icon: 1, time: 1000}, function(){
            location.reload();
          });
        }else{
          layer.close(loading);
          layer.msg(data.msg, {icon: 2,anim: 6, time: 1000});
        }
      });
    });
    return false;
  });

})
</script>
</div>
</div>
<include file="Index:footer" />
</body>
</html>