<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>{$title}</title>
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/bootstrap-customize.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/style.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/pages.css?v=4">
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/html5.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/jquery.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/bootstrap.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/respond.src.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/base.js?v=1"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/main.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/layer/layer.js"></script>
		<!--plugin-->
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/jquery.event.move.js"></script>
	</head>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cf5ae4db6364d9246b6f595c2fae270e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	