<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>{$title}</title>
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/bootstrap-customize.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/style.css">
		<link rel="stylesheet" type="text/css" href="{:C('STATIC_URL')}Public/home/css/pages.css?v=3">
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/html5.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/jquery.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/bootstrap.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/respond.src.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/base.js"></script>
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/layer/layer.js"></script>
		<!--plugin-->
		<script type="text/javascript" src="{:C('STATIC_URL')}Public/home/js/jquery.event.move.js"></script>
	</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cf5ae4db6364d9246b6f595c2fae270e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	<body>
		<!-------------------------------------- 头部开始 -------------------------------------->
		<header>
			<div class="container">
				
			</div>
		</header>
		<!-------------------------------------- 头部结束 -------------------------------------->
		<!-------------------------------------- 内容开始 -------------------------------------->
		<main>
			<div class="container">
				<img src="{:C('STATIC_URL')}Public/home/img/pai.png" alt=""  style="position: absolute;width: 66%; top: 0; left:17%;z-index:9999"> 
				<img src="{:C('STATIC_URL')}Public/home/img/{$month}_bg.jpg" alt=""  style="position: absolute;width: 100%; top: 0; left:0;z-index:1"> 
				<a href="{$startUrl}">
				<img src="{:C('STATIC_URL')}Public/home/img/month-m{$month}.png"  style="position: absolute;{$style[0]};z-index:4">
				</a>
				<img src="{:C('STATIC_URL')}Public/home/img/month-b{$month}.gif"  style="position: absolute;{$style[1]};z-index:3">
				
			</div>
		</main>
		<!-------------------------------------- 内容结束 -------------------------------------->
		<!-------------------------------------- 尾部开始 -------------------------------------->
		<footer>
			<div class="container">
				
			</div>
		</footer>
		<include file="Common/wx_jssdk" />
		<!-------------------------------------- 尾部开始 -------------------------------------->
	</body>
</html>
<style>
	
</style>
<script>

  $('.ui-month a').click(function(){
	var month = $(this).data('month');
	var url = "{:U('index/ajaxquestion')}";
	var _that = $(this);
	$.post(url, {month:month}, function(data){
			console.log(data);
			if(data.code == 200){ 
				var href=_that.data('href');
				//alert(href);return false;
				location.href = href;
				return false;
			}else{
				layerAlert(data.msg);
				return false;
			}
	},"json");		
})
</script>
